
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
 
  .d-flex {
    display: flex;
  }
  
  .justify-content-between {
    justify-content: space-between;
  }
  #formName
  {
    min-width: 700px;
    margin-right: 50%;
  }
  .align-items-center {
    align-items: center;
  }
  
  
  h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    flex-grow: 1;
  }
  
  
  .position-absolute {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    color: #dc3545;
  }
  
  .position-absolute:hover {
    color: #c82333;
  }
  
  button:focus {
    outline: none;
  }
  