.event-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.event-card {
  width: 100%;
  max-width: 350px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease;
}

.event-card:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.event-item {
  margin-bottom: 10px;
  font-size: 1.1em;
}

.event-edit input {
  margin-bottom: 10px;
  width: 100%;
}

.event-edit label {
  font-weight: bold;
  margin-bottom: 5px;
}

.event-card h4 {
  font-size: 1.3em;
  margin-bottom: 10px;
}

.d-flex {
  display: flex;
  justify-content: flex-end;
}

.d-flex button {
  margin-left: 10px;
}

.alert {
  margin-bottom: 20px;
}

.alert-warning {
  text-align: center;
  font-weight: bold;
}
